{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block record_form %}
<form action="{% url 'record' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Select a category</label>
        <select class="form-control" name="category">
            <option value={{ worker.category }}>{{worker.category}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Select a worker</label>
        <select class="form-control" name="worker">
            <option value="{{ worker.id }}">{{ worker.name }} {{ worker.surname }}</option>
        </select>
    </div>
    <div class="form-group">
        {{ form.as_p }}
        <div class="invalid-feedback">
            {{ form.errors }}
        </div>
        <p>{{ error }}</p>  
    </div>
    <button type="submit" class="btn btn-primary">Record</button>
</form>
{% endblock %}
